@import '_font';
@import '_mixin';
@import '_test_card';


$theme: light;

body{
    @media screen and (max-width: 750px){
        zoom: 50%;
    }
}

#main{
    @include colomn;
    justify-content: space-between;

    box-sizing: content-box;
    height: 100vh;
    min-width: 570px;
}

@media screen and (max-width: 1150px){
    #main{
        height: auto;
    }
}

h1{
    @include text(6.4rem, $theme);
}

h2{
    @include text(4.8rem, $theme);
}

h3{
    @include text(3.6rem, $theme);
}

h4{
    @include text(2.4rem, $theme);
}

p{
    @include text(1.7rem, $theme);
}

.btn{
    @include block(.4rem, .5rem);
    @include theme(dark, true);

    cursor: pointer;
    margin-right: .5rem;
    min-width: 15%;

    border: none;

    &:active, &:focus {
        outline: none;
    }
}

.btn-disabled{
    opacity: .5;
}

.close-pop_up {
    display: none;
}

.window-pop_up{
    z-index: 100;
    user-select: none;

    position: fixed;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);

    .window-shadow{
        position: absolute;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
    }

    .window-content{
        position: relative;
        padding: 3rem;
        border-radius: 2rem;

        width: 50%;
        height: 50%;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: $color_back;

        .window-text{

            border: 2px solid #000;
            border-radius: 1rem;
            width: 100%;
            height: 100%;
            padding: 1rem;

            box-sizing: border-box;

        }

        .window-title{
            display: inline-block;

            font-size: 3.6rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }

        a {
            font-size: 2rem;
            border-bottom: 2px solid #000;
        }

        .window-close_btn{
            content: "";
            position: absolute;
            cursor: pointer;
            text-align: center;

            top: 0;
            left: calc(100% - 1rem);
            width: 20px;
            height: 20px;

            border-radius: 50%;
            border: 2px solid #000;
            background-color: red;

            transition: .2s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }

    @media screen and (max-width: 750px){
        .window-content{
            width: 80%;
            height: 80%;
        }
    }
}


form{
    display: flex;
    flex-direction: column;
}

/**************
    HEADER
***************/
header{

    @include row;
    @include theme($theme);
    justify-content: space-between;

    width: 100%;
    height: 120px;

    .logo{
        @include row;

        margin: 10px 10px 10px 50px;

        .logo__text{
            @include text(5rem, $theme);
            text-shadow: 1px 1px 1px rgb(255, 255, 0);
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 30px;

        }
    }/*logo*/

    nav {
        align-items: center;
        margin: 40px 50px 0 0;
        width: 50%;

        .nav__links{
            @include row;
            justify-content: space-around;
            text-align: center;

            a{
                display: block;
                position: relative;
                width: 100%;

                @include text( 1.4rem, $theme);


                padding: 10px 0;
                margin: auto 20px;
                transition: .3s;

                &:hover{
                    transform: scale(1.2);
                }
            }
            .pre-nav {
                border: 2px dashed #000;
                border-radius: 3rem;
                &:hover{
                    transform: scale(1);
                    background-color: $color_font-dark;
                }
            }
        }/*nav_links*/
    }/*nav*/


}/*header*/


@media screen and (min-width: 750px) and (max-width: 1150px){
    .header__nav{
        position: relative;
        right: 20px;
        width: 100px;
        height: 100px;

        .burger, .burger::before, .burger::after{
            content: "";
            position: absolute;
            top: 15px;
            width: 80px;
            height: 5px;
            border-radius: 2px;
            background-color: #000;

            &:hover{
                transform: scale(1.2);
            }
        }

        .burger::before{
            top: -15px;
        }
        .burger::after{
            top: 15px;
        }

        .nav__links{
            z-index: 10;

            visibility: visible;
            @include colomn;
            position: absolute;
            align-items: center;
            top: 55px;
            right: -20px;
        }
    }
}

@media screen and (max-width: 750px){
    header{
        @include colomn;
        height: auto;
        padding-bottom: 5px;
        border-bottom: 2px dashed rgb(26, 20, 48);

        .logo{
        }

        .header__nav{
            position: static;
            margin: 0;
            width: 100%;

            .burger{
                display: none;
            }

            .nav__links{
                visibility: visible;
                @include row;
            }
        }
    }
}



/**************
    MAIN
***************/
main{
    $theme: light;

    @include text(1.4rem, $theme);
    overflow-y: scroll;
    padding: 10px;

    .container{
        position: relative;

        width: 45%;
        margin-left: 5%;
        margin-right: 5%;


        li > ol{
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        li li{
            list-style-type: decimal;
            margin-left: 60px;
        }

        & a{
            font-size: 1.1em;
            background-color: inherit;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1150px){
    main .container{
        width: 90%;
    }

    .test{
        position: relative;
        width: calc(100% + 60px);
        left: -60px;
    }
}

@media screen and (max-width: 750px){
    main{
        width: auto;
    }
}


/**************
    FOOTER
***************/
footer{
    $theme: dark;
    @include text(1rem, $theme);
    z-index: 10;

    position: relative;
    transition: 1s;

//		height: auto;


//	&::after{
//		content: '\21D1';
//		@include text(1.2rem, dark);
//		position: absolute;
//
//		top: -25px;
//		left: 50%;
//		transform: translateX(-50%);
//
//		height: 25px;
//		width: 30px;
//
//		text-align: center;
//
//		border-radius: 20px 20px 0 0;
//	}

    .footer__label{
        @include text(1.2rem, $theme);
        position: absolute;
        cursor: pointer;

        top: -25px;
        left: 50%;
        transform: translateX(-50%);

        height: 25px;
        width: 30px;

        text-align: center;

        border-radius: 20px 20px 0 0;
    }

    .footer__container{

        @include row;
        justify-content: space-around;
        overflow: hidden;

        width: 100%;
//		height: 15px;
        height: auto;
        padding: 10px 0;
        transition: .5s;

        .footer__col{
            @include colomn;
            text-align: center;
            width: 33.33333%;
        }

        li{
            &, a{
                @include text(.9rem, $theme);
                display: block;

                &:hover{
                    @include hover($theme);
                    transform: none;
                }
            }
            &:first-child{
                margin-top: 5px;
            }
        }
    }
}


@media screen and (max-width: 1150px){
    .footer__container{
        height: auto;
    }

    .footer__label{
        display: none;
    }

}
